<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutricion AI</title>
</head>
<body>
    <h1>Nutricion Intelligence</h1>
    <section>
        <p>
            A intenção a princípio é ajudar com avalição nutricional basíca, mas é importante lembrar que apenas um nutricionista pode fazer um diagnóstico preciso e prescrever um plano alimentar adequado.
            A ídeia é que você possa registrar os dados necessários para que possa orientar com base nas informações.
        </p>
    </section>
    <form method="post">
        <label for="input">Duvida: </label>
        <input type="text" name="input" id="input" required>
        <button type="submit">Enviando</button>
    </form>

    {% if response %}
        <section>
            <strong>{{ response }}</strong>
        </section>
    {% endif %}
</body>
</html>